.button {
    display: inline-block;
    background-color: #6495ed;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: transform 120ms linear;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #0000ff;
    transform: scale(1.1);
}