.main-section {
    background-color: #6495ed;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #ee82ee;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgMagenta {
    background-color: #ff00ff;
}

.main-section.-bdFirst {
    border-color: #6495ed;
}

.main-section.-bgPink {
    background-color: #ee82ee;
}

.main-section.-bdSecond {
    border-color: #000;
}